.likebutton{
	transition:color 0.2s;
}
.likebutton:hover{
	color:red;
	cursor: pointer;
}
.dislikebutton{
	transition:color 0.2s;
}
.dislikebutton:hover{
	color:black;
	cursor: pointer;
}
.facebook.icon:hover{
	cursor:	pointer;
}