{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'aboutus.css' %}"/>
	<script src="{% static 'aboutus.js' %}"></script>
</head>
<body>
	<div class="ui stackable grid" id="about">
	    <img id="backimage" src="{% static 'aboutusbackground.png' %}" style="position:absolute;width:100%;max-width:100%;max-height:100%;"></img>
		<div class="row">
          	<div class="column"  style="margin-top:0px">
          		<div id="title">
					組長
				</div>
			</div>
        </div>
        <div class="row">
        	<div class="right aligned six wide column picalign">
				<img id="picture1" src="{% static 'member1.jpg' %}">
				</img>
			</div>
			<div class="left aligned ten wide column">
				<div class="description" id="description1">
					<ul style="margin:0px;padding:0px">
						<li>姓名：陳兆陽</li>
						<li>就讀系級：機械系大四乙班</li>
						<li>興趣：打網球、做模型、爬山、慢跑</li>
						<li>技能：</li>
						<li style="margin-left:40px;">畫工程圖、噴漆、模型處理技能、弱弱的C++、弱弱的html.......(掩面)</li>
						<li>喜歡吃的東西：</li>
						<li style="margin-left:40px;">基本上都可以接受，不過我不能喝咖啡>_<(會心悸)，很喜歡吃日式的海鮮丼飯、拉麵還有台南各式小吃</li>
						<li>喜歡的店家：兵衛丼、六千牛肉湯、無名魚湯、Mr.拉麵</li>
						<li>想說的話：</li>
						<li style="margin-left:40px;">大家安安~~我是吃~吃吃~~的發想人，老實說~~我沒想到這個想法會被教授看中.....。不過~~既然選到了就來做吧~~因為想知道哪裡有很厲害的店家又懶得出去找，只好來做一個網頁請大家幫我找了。希望大家在這裡分享自己喜歡的店家偶爾可以跟不認識的人一起去探險的感覺應該很特別(搞不好會因為喜歡同一種食物或店家而結交新朋友喔^^)
						夥伴們，一起探索這個世界的美食吧!!</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
          	<div class="column" style="margin-top:0px">
          		<div id="title2">
				組員
				</div>
			</div>
        </div>
	        <div class="row" style="margin-left:0px;">
	        	<div class="right aligned ten wide column" id="description2col">
					<div class="description desright" id="description2">
						<ul style="margin:0px;padding:0px">
							<li>姓名：陳杰翰</li>
							<li>就讀系級：資訊系</li>
							<li>興趣：看電影，寫程式，聽音樂</li>
							<li>技能：會說多國語言像是：C, Python</li>
							<li>喜歡吃的東西：拉麵，焗烤，燉飯。</li>
							<li>喜歡的店家：福吉雅輕食坊，黑湯哲學</li>
							<li>想說的話：</li>
							<li style="margin-left:40px;">Hi, 我是陳杰翰，在網路上的暱稱是 JIElite，目前是一個廢廢的資工系大四生，希望未來能夠藉由自己的專業來幫助這個社會，未來的目標是當一位 Data Scientist</li>
						</ul>
					</div>
				</div>
				<div class="left aligned six wide column picalign">
					<img id="picture2" src="{% static 'member2.jpg' %}">
					</img>
				</div>
				<div class="left aligned ten wide column" id="description2col2" style="display:none;">
					<div class="description desright" id="description2">
						<ul style="margin:0px;padding:0px">
							<li>姓名：陳杰翰</li>
							<li>就讀系級：資訊系</li>
							<li>興趣：看電影，寫程式，聽音樂</li>
							<li>技能：會說多國語言像是：C, Python</li>
							<li>喜歡吃的東西：拉麵，焗烤，燉飯。</li>
							<li>喜歡的店家：福吉雅輕食坊，黑湯哲學</li>
							<li>想說的話：</li>
							<li style="margin-left:40px;">Hi, 我是陳杰翰，在網路上的暱稱是 JIElite，目前是一個廢廢的資工系大四生，希望未來能夠藉由自己的專業來幫助這個社會，未來的目標是當一位 Data Scientist</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
	        	<div class="right aligned six wide column picalign">
					<img id="picture3" src="{% static 'member3.jpg' %}">
					</img>
				</div>
				<div class="left aligned ten wide column">
					<div class="description" id="description3">
						<ul style="margin:0px;padding:0px">
							<li>姓名：黃昱銓</li>
							<li>就讀系級：機械系</li>
							<li>興趣：看動漫、聽音樂</li>
							<li>技能：matlab,solidwork,c</li>
							<li>喜歡吃的東西：壽司、甜點、咖啡</li>
							<li>喜歡的店家：魚羊鮮豆咖啡</li>
							<li>想說的話：</li>
							<li style="margin-left:40px;">安安~我是昱銓~雖然是個剛踏入機械的小兵，對網頁有點興趣，老師上好快，無法吸收阿QQ</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row" style="margin-left:0px;">
	        	<div class="right aligned ten wide column" id="description4col">
					<div class="description desright" id="description4">
						<ul style="margin:0px;padding:0px">
							<li>姓名：吳懿文</li>
							<li>就讀系級：工業與資訊管理學系</li>
							<li>興趣：打網球、打壘球、聽音樂、打LOL</li>
							<li>技能：C++,JAVA,MYSQL,Qt,Hadoop(Hbase),html,css,jquery</li>
							<li>喜歡吃的東西：最近比較喜歡吃炒飯、鍋貼。</li>
							<li>喜歡的店家：小妞、南園街鍋貼</li>
							<li>想說的話：</li>
							<li style="margin-left:40px;">雖然我從大一才開始學習程式，但到現在大肆我已經寫過很多有趣的東西了，但是目前我似乎得把一些案子放下準備研究所考試，為了活動跟實作(雖然原本就不愛念書)，使得我成績不理想，推甄被刷0.0個人簡介可以看我的<a href="http://bbbb8264.github.io/wp2015/" target="_blank">另一個網頁</a></li>
						</ul>
					</div>
				</div>
				<div class="left aligned six wide column picalign">
					<img id="picture4" src="{% static 'member4.jpg' %}">
				</img>
				</div>
				<div class="left aligned ten wide column" id="description4col2" style="display:none;">
					<div class="description desright" id="description4">
						<ul style="margin:0px;padding:0px;word-wrap: break-word;word-break: break-all;">
							<li>姓名：吳懿文</li>
							<li>就讀系級：工業與資訊管理學系</li>
							<li>興趣：打網球、打壘球、聽音樂、打LOL</li>
							<li>技能：C++,JAVA,MYSQL,Qt,Hadoop(Hbase),html,css,jquery</li>
							<li>喜歡吃的東西：最近比較喜歡吃炒飯、鍋貼。</li>
							<li>喜歡的店家：廟邊、小妞、南園街鍋貼</li>
							<li>想說的話：</li>
							<li>雖然我從大一才開始學習程式，但到現在大肆我已經寫過很多有趣的東西了，但是目前我似乎得把一些案子放下準備研究所考試，為了活動跟實作(雖然原本就不愛念書)，使得我成績不理想，推甄被刷0.0個人簡介可以看我的<a href="http://bbbb8264.github.io/wp2015/" target="_blank">另一個網頁</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row" id="footer" style="margin-top:40px">
				<div class="right aligned column" style="line-height:32px;margin-top:0px">
					@吃~吃~吃~~~
				</div>
			</div>
	</div>
</body>
</html>